@import "variables.scss";

body {
  padding-top: 20px;
}


.listing-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.listings {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.listings li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.listing {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.listing:first-child {
  display: block;
}


ul.listing-thumbs {
  margin: 0;
  list-style: none;
}

ul.listing-thumbs li {
  border: 1px solid $gray-darker;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.listing-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.listing-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid $brand-primary;
}

dl.toc{
  dt{float:left;clear:left;border-bottom:dotted 1px $brand-primary}
  dd{float:right;}

}
