<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <a href="#/listings/0">New Listing</a><br />

      Search: <input ng-model="query"><br />

      Sort by:
      <select ng-model="orderProp">
        <option value="address">Alphabetical</option>
        <option value="price">Price</option>
      </select><br />
      Status:
      <!-- Client Filter-->
      <select ng-model="statusFilter">
        <option ng-repeat="st in statusTypes" value="{{st.statusTypeId}}">{{st.name}}</option>
      </select>
    </div>
    <div class="col-md-10">
      <!--Body content-->
        <!-- filter on client -->
        <div ng-repeat="listing in listings | filter:query | filter: {statusTypeId:statusFilter} | orderBy:orderProp" class="thumbnail mls-listing"><!-- -->
          <!--<a href="#/listings/{{listing.listingId}}" class="thumb"><img ng-src="{{listing.imageUrl}}" alt="{{listing.address}}"></a>-->
          <a href="#/listings/{{listing.listingId}}">{{listing.title}}</a>
          <p>{{listing.publicRemarks}}</p>
          <p>{{listing.descriptionLong}}</p>
        </div>
      </ul>
    </div>
  </div>
</div>
