<!--
<div class="listing-images">
  <img ng-src="{{img}}"
       class="listing"
       ng-repeat="img in listing.images"
       ng-class="{active: mainImageUrl==img}">
</div>
-->

<form name="frmListing">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{listing.address}}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group row">
          <label class="col-sm-2 control-label">MLS: </label>
          <div class="col-sm-10"><span class="form-control">{{listing.mls}}</span></div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtTitle">Title: </label>
          <div class="col-sm-10"><input type="text" class="form-control" required id="txtTitle" name="txtTitle" ng-model="listing.title" /></div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtAddress">Address: </label>
          <div class="col-sm-10"><input type="text" class="form-control" required id="txtAddress" name="txtAddress" ng-model="listing.address" /></div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtParcel">Parcel: </label>
          <div class="col-sm-10"><input type="text" class="form-control" required id="txtParcel" name="txtParcel" ng-model="listing.parcel" readonly /></div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtPrice">Price: </label>
          <div class="col-sm-10"><input type="text" class="form-control" required id="txtPrice" name="txtPrice" ng-model="listing.price" /></div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="ddlStatus">Status: </label>
          <div class="col-sm-10">
            <select id="ddlStatus" ng-model="listing.status" class="form-control">
              <option ng-repeat="st in statusTypes" value="{{st.name}}">{{st.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtDescriptionShort">Description (abbreviated): </label>
          <div class="col-sm-10">
            <textarea id="txtDescriptionShort" class="form-control" rows="5" ng-model="listing.description_short"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtDescriptionLong">Description (detailed): </label>
          <div class="col-sm-10">
            <textarea name="txtDescriptionLong" class="form-control" rows="5" ng-model="listing.description_long"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="chkFeatured">Featured: </label>
          <div class="col-sm-10">
            <input type="checkbox" name="chkFeatured" ng-model="listing.featured" class="form-control"></input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Residence</h3>
              </div>
              <div class="panel-body">
                <div class="toc">
                  <div><strong>Beds</strong><strong>{{listing.bed}}</strong></div>
                  <div><strong>Baths</strong><strong>{{listing.bath}}</strong></div>
                  <div><strong>Stories</strong><strong>{{listing.stories}}</strong></div>
                  <div><strong>Garage</strong><strong>{{listing.garage}}</strong></div>
                  <div><strong>Pool</strong><strong>{{listing.pool | checkmark}}</strong></div>
                  <div><strong>Spa</strong><strong>{{listing.spa | checkmark}}</strong></div>
                  <div><strong>Year Built</strong><strong>{{listing.year_built}}</strong></div>
                  <div><strong>SqFt Living</strong><strong>{{listing.sqft_live}}</strong></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Land</h3>
              </div>
              <div class="panel-body">
                <div class="toc">
                  <div><strong>SqFt Lot</strong><strong>{{listing.sqft_lot}}</strong></div>
                  <div><strong>Acres</strong><strong>{{listing.acres}}</strong></div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Area</h3>
              </div>
              <div class="panel-body">
                <div class="toc">
                  <div><strong>Area Code</strong><strong class="pull-right">{{listing.area}}</strong></div>
                  <div><strong>Subdivision</strong><strong>{{listing.subdiv}}</strong></div>
                  <div><strong>Gated</strong><strong>{{listing.gated | checkmark}}</strong></div>
                  <div><strong>Elementary</strong><strong>{{listing.school_elementary}}</strong></div>
                  <div><strong>Middle</strong><strong>{{listing.school_middle}}</strong></div>
                  <div><strong>High</strong><strong>{{listing.school_high}}</strong></div>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <button ng-click="save(listing)" class="btn btn-lg btn-success">Save</button>
            <button type='button' ng-click="cancel()" class="btn btn-lg btn-danger">Cancel</button>
          </div>
        </div>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-primary -->
  </div><!-- /row -->
</form>


<!-- <table class="table table-striped table-bordered table-hover">
  <thead>
      <tr>
          <th>Price</th>
          <th>Date</th>
          <th>Update By</th>
      </tr>
  </thead>
  <tr ng-repeat="lp in listing.listingprice">
    <td>{{lp.price}}</td>
    <td>{{lp.lastUpdateDate}}</td>
    <td>{{lp.lastUpdateId}}</td>
  </tr>
</table>


<table class="table table-striped table-bordered table-hover">
  <thead>
      <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Update By</th>
      </tr>
  </thead>
  <tr ng-repeat="lst in listing.listingstatus">
    <td>{{lst.statusTypeId}}</td>
    <td>{{lst.lastUpdateDate}}</td>
    <td>{{lst.lastUpdateId}}</td>
  </tr>
</table> -->

<!--
<span ng-click="increasePrice()">(+)</span>
<span ng-click="decreasePrice()">(-)</span>
<ul class="listing-thumbs">
  <li ng-repeat="img in listing.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>
-->


