<!--
<div class="listing-images">
  <img ng-src="{{img}}"
       class="listing"
       ng-repeat="img in listing.images"
       ng-class="{active: mainImageUrl==img}">
</div>
-->


<div class="row">
  <div class="col-sm-12">
    <button type='button' ng-click="cancel()" class="btn btn-lg btn-primary">Back to Listings</button>
  </div>
</div>

<!-- <button type='button' ng-click="toggleMessage=true;messageClass='fade-in alert alert-success'" class="btn btn-lg btn-primary">toggle</button> -->
<br>

<form name="frmListing">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{listing.address}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-2 control-label">MLS: </label>
              <div class="col-sm-10"><span>{{listing.mls}}</span></div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtAddress">Address: </label>
          <div class="col-sm-10">
            <span>{{listing.address}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtParcel">Parcel: </label>
          <div class="col-sm-10">
            <span>{{listing.parcel}}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtPrice">Price: </label>
          <div class="col-sm-4">
            <span>{{listing.price | currency}}</span>
          </div>
          <label class="col-sm-1 control-label" for="chkFrontPage">Reduced: </label>
          <div class="col-sm-1">
            <input type="checkbox" name="chkReduced" disabled ng-model="listing.reduced" class="form-control"></input>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtTitle">Title: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required id="txtTitle" name="txtTitle" ng-model="listing.title" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="ddlStatus">Status: </label>
          <div class="col-sm-10">
            <select id="ddlStatus" ng-model="listing.status" class="form-control">
              <option ng-repeat="st in statusTypes" value="{{st.name}}">{{st.name}}</option>
            </select>
          </div>
        </div>
        <div ng-show="listing.status === 'Sold'">
          <div class="form-group row">
            <label class="col-sm-2 control-label" for="txtPriceSold">Sold Price: </label>
            <div class="col-sm-10"><input type="text" class="form-control" id="txtPriceSold" name="txtPriceSold" ng-model="listing.price_sold" /></div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 control-label" for="txtSoldNotes">Sold Notes: </label>
            <div class="col-sm-10">
              <textarea name="txtSoldNotes" class="form-control" rows="5" ng-model="listing.sold_notes"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtDescriptionShort">Description (abbreviated): </label>
          <div class="col-sm-10">
            <textarea id="txtDescriptionShort" class="form-control" rows="5" ng-model="listing.description_short"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="txtDescriptionLong">Description (detailed): </label>
          <div class="col-sm-10">
            <textarea name="txtDescriptionLong" class="form-control" rows="5" ng-model="listing.description_long"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="chkFeatured">Featured: </label>
          <div class="col-sm-1">
            <input type="checkbox" name="chkFeatured" ng-model="listing.featured" class="form-control" ng-true-value="'y'"></input>
          </div>
          <label class="col-sm-2 control-label" for="chkFrontPage">Front Page: </label>
          <div class="col-sm-1">
            <input type="checkbox" name="chkFrontPage" ng-model="listing.front_page" class="form-control" ng-true-value="'y'"></input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Residence</h3>
              </div>
              <div class="panel-body">
                <div class="toc">
                  <div><strong>Beds</strong><strong>{{listing.bed}}</strong></div>
                  <div><strong>Baths</strong><strong>{{listing.bath}}</strong></div>
                  <div><strong>Stories</strong><strong>{{listing.stories}}</strong></div>
                  <div><strong>Garage</strong><strong>{{listing.garage}}</strong></div>
                  <div><strong>Pool</strong><strong>{{listing.pool | checkmark}}</strong></div>
                  <div><strong>Spa</strong><strong>{{listing.spa | checkmark}}</strong></div>
                  <div><strong>Year Built</strong><strong>{{listing.year_built}}</strong></div>
                  <div><strong>SqFt Living</strong><strong>{{listing.sqft_live}}</strong></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Land</h3>
              </div>
              <div class="panel-body">
                <div class="toc">
                  <div><strong>SqFt Lot</strong><strong>{{listing.sqft_lot}}</strong></div>
                  <div><strong>Acres</strong><strong>{{listing.acres}}</strong></div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Area</h3>
              </div>
              <div class="panel-body">
                <div class="toc">
                  <div><strong>Area Code</strong><strong class="pull-right">{{listing.area}}</strong></div>
                  <div><strong>Subdivision</strong><strong>{{listing.subdiv}}</strong></div>
                  <div><strong>Gated</strong><strong>{{listing.gated | checkmark}}</strong></div>
                  <div><strong>Elementary</strong><strong>{{listing.school_elementary}}</strong></div>
                  <div><strong>Middle</strong><strong>{{listing.school_middle}}</strong></div>
                  <div><strong>High</strong><strong>{{listing.school_high}}</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div ng-show="toggleMessage">
            <div ng-class="messageClass" role="alert">
              {{message}}
            </div>
          </div>          
          <div class="col-sm-10">
            <button ng-click="save(listing)" class="btn btn-lg btn-success">Save</button>
            <button type='button' ng-click="cancel()" class="btn btn-lg btn-danger">Cancel</button>
          </div>
        </div>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-primary -->
  </div><!-- /row -->
</form>