<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">

      <a href="#/listings/0">New Listing</a><br />

      Search: <input ng-model="query"><br />

      Sort by:
      <select ng-model="orderProp">
        <option value="address">Alphabetical</option>
        <option value="price">Price</option>
      </select><br />
      Status:
      <!-- Client Filter-->
      <select ng-model="statusFilter">
        <option value=""></option>
        <option ng-repeat="st in statusTypes" value="{{st.name}}">{{st.name}}</option>
      </select>
    </div>
    <div class="col-md-9">
      <!--Body content-->
        <!-- filter on client -->
        <div class="panel panel-default" ng-repeat="listing in listings | filter:query | filter: {status:statusFilter} | orderBy:orderProp" class="thumbnail mls-listing">
          <div class="panel-heading">
              <a href="#/listings/{{listing.mls}}">{{listing.mls}} - {{listing.address}}</a>
              <span class="pull-right">{{listing.price | currency}}</span>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <h3>{{listing.title}}</h3>
            <p>{{listing.public_remarks}}</p>
            <p>{{listing.description_long}}</p>
          </div>
        </div>
        <!--<a href="#/listings/{{listing.listingId}}" class="thumb"><img ng-src="{{listing.imageUrl}}" alt="{{listing.address}}"></a>-->
    </div>
  </div>
</div>
