<div class="listing-images">
  <img ng-src="{{img}}"
       class="listing"
       ng-repeat="img in listing.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{listing.title}}</h1>
<p>{{listing.address}}</p>
<p>{{listing.parcel}}</p>
<p>{{listing.status}}</p>
<span>{{listing.price}}</span><span ng-click="increasePrice()">(+)</span><span ng-click="decreasePrice()">(-)</span>
<p>{{listing.description}}</p>
<ul class="listing-thumbs">
  <li ng-repeat="img in listing.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<p>Amenities</p>
<ul class="specs">
  <li ng-repeat="amenity in listing.amenities">
    <dl>
      <dt>{{amenity.name}}</dt>
      <dd>{{amenity.description}}</dd>
    </dl>
  </li>
</ul>

<p>Options</p>
<ul>
  <li>
    <dl>
      <dt>Featured</dt>
      <dd>{{listing.featured | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Reduced</dt>
      <dd>{{listing.reduced | checkmark}}</dd>
    </dl>
  </li>
</ul>

<button ng-click="save(listing)">submit</button>
<button ng-click="delete(listing)">delete</button>
