/bower_components
/node_modules
/includes/inc_creds.php
/assets
/sql
/nbproject
/packages
/uploads
blogpost.pl
dropbox.html
listings.html
mail.pl
table.pl
test-constructor.php
test.php
test.pl
testlisting.pl
*.config
phpinfo.php
*.ini