<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <!--#Listing by status ie http://lister:8080/services/user/isAuthenticated/token/73231302a8232ff17c328ba312a1b613-->
            <rule name="Imported Rule 6" stopProcessing="true">
              <match url="^services/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)$" ignoreCase="false" />
              <action type="Rewrite" url="/services/{R:1}.php?{R:2}=1&amp;{R:3}={R:4}" appendQueryString="false" />
            </rule>
            <!--#Listing by status ie http://lister:8080/services/listing/statusType/sold-->
            <rule name="Imported Rule 5" stopProcessing="true">
              <match url="^services/([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)$" ignoreCase="false" />
              <action type="Rewrite" url="/services/{R:1}.php?{R:2}={R:3}" appendQueryString="false" />
            </rule>
            <!--#Listing by status ie http://lister:8080/services/processing/step/1-->
            <rule name="Imported Rule 4" stopProcessing="true">
              <match url="^services/([a-zA-Z]+)/([a-zA-Z]+)/([\d]+)$" ignoreCase="false" />
              <action type="Rewrite" url="/services/{R:1}.php?{R:2}={R:3}" appendQueryString="false" />
            </rule>
            <!--#Call by function name-->
            <rule name="Imported Rule 3" stopProcessing="true">
              <match url="^services/([a-zA-Z]+)/([a-zA-Z]+)$" ignoreCase="false" />
              <action type="Rewrite" url="/services/{R:1}.php?{R:2}" appendQueryString="false" />
            </rule>
            <rule name="Imported Rule 2" stopProcessing="true">
              <match url="^services/([a-zA-Z]+)/([\d]+)$" ignoreCase="false" />
              <action type="Rewrite" url="/services/{R:1}.php?id={R:2}" appendQueryString="false" />
            </rule>
            <rule name="Imported Rule 1" stopProcessing="true">
              <match url="^services/([a-zA-Z]+)$" ignoreCase="false" />
              <action type="Rewrite" url="/services/{R:1}.php" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>
