<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="RewriteUserFriendlyURL1" />
                <remove name="RedirectUserFriendlyURL1" />
                <rule name="Listing">
                    <match url="^services/listing/([0-9]+)" />
                    <action type="Rewrite" url="services/listing.php?id={R:1}" />
                </rule>
                <rule name="Listings">
                    <match url="services/listing" />
                    <action type="Rewrite" url="services/listing.php" />
                </rule>
                <rule name="Property">
                    <match url="^services/property/([0-9]+)" />
                    <action type="Rewrite" url="services/property.php?id={R:1}" />
                </rule>
                <rule name="Properties">
                    <match url="services/property" />
                    <action type="Rewrite" url="services/property.php" />
                </rule>
                <rule name="Agent">
                    <match url="^services/agent/([0-9]+)" />
                    <action type="Rewrite" url="services/agent.php?id={R:1}" />
                </rule>
                <rule name="Agents">
                    <match url="services/agent" />
                    <action type="Rewrite" url="services/agent.php" />
                </rule>
                <rule name="Price">
                    <match url="^services/price/([0-9]+)" />
                    <action type="Rewrite" url="services/price.php?id={R:1}" />
                </rule>
                <rule name="Prices">
                    <match url="services/price" />
                    <action type="Rewrite" url="services/price.php" />
                </rule>
                <rule name="StatusTypes">
                    <match url="services/statustype" />
                    <action type="Rewrite" url="services/statustype.php" />
                </rule>
                <rule name="StatusType">
                    <match url="^services/statustype/([0-9]+)" />
                    <action type="Rewrite" url="services/statustype.php?id={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
